@{
    ViewData["Title"] = "Acerca de la empresa";
}
<h1>@ViewData["Title"]</h1>
<img src="~/biblio1.jpg" alt="Logo Biblioteca" class="logo-esquina" />


<p>Somos una empresa localizada en El Salvador, enfocada al desarrollo de software que consta de 3 integrantes con estudios certificados por la Universidad Don Bosco
   con años de experiencia en desarrollo de sotware y aplicaciones de escritorio y web. .</p>

<div class="contacto-caja">
    <div class="contacto-header">📞 Contacto</div>
    <div class="contacto-cuerpo">
        <p><strong>Desing and creation company</strong></p>
        <p>Tel: (503) 2525-3333</p>
        <p>Email: orellana3566@gmail.com</p>
        <p>Email: hectormendez_barcelona@hotmail.com</p>
        <p>Email: joancitamm@yahoo.es</p>
 </div>
